
.view-conference-program.view-display-id-page_1 tbody th {
  width: 100px;
  text-align: center;
}

.view-conference-program.view-display-id-page_1 h3 {
  margin: 15px 0;
  font-size: 15px;
  text-align: center;
}
