.spotlight .spotlight-container .inner {
  padding-top: 190px;
}

.spotlight .spotlight-container .sizer {
  width: 630px;
}

.spotlight .spotlight-container {
  height: 300px;
  -moz-box-shadow:0 1px 3px #DDDDDD;
  -webkit-box-shadow:0 1px 3px #DDDDDD;
}
.spotlight .subtitle,
.spotlight .title {
  background:none repeat scroll 0 0 #FFFFFF;
  display:inline;
  padding:3px;
}
.spotlight .title {
  font-size: 28px;
}
.spotlight .subtitle {
}
.spotlight .link {
}
.spotlight .link a {
  float: right;
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}